/* 导航栏开始 */
.navbar_bg {
	background-color: #eee;
	width: 100%;
}
.nav_fa {
	position: relative;
}
.online {
	display: inline-block;
	height: 25px;
	width: 30px;
	background: url(../images/icon.png) -224px -479px no-repeat;
	position: absolute;
	left: 0;
	top: 9px;
    z-index: 50;
}
.guanzhu {
	display: inline-block;
	height: 25px;
	width: 30px;
	background: url(../images/icon.png) -226px -512px no-repeat;
	position: absolute;
	top: 8px;
	z-index: 50;
}
.nav_fa li a {
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
}
.nav_right li {
	padding: 10px 0;

}
.border_right {
	border-right: 1px solid #9e9e9e;
}
.nav_right li a {
	padding: 0 5px;
}
.nav_right li:hover  {
	background-color: #c7161c !important;
	color: #fff !important;
}
.nav_right li:hover a {
	color: inherit !important;
}
.border-right:hover {
	border-right: 1px solid #c7161c;
}
/* 导航栏结束 */

/* 标题区域开始 */
.header_logo {
	margin-top: 40px;
	padding-top: 38px;
	padding-bottom: 35px;
}
.city_cont {
	position: relative;
	display: inline-block;
}
.city {
	color: #d1161c;
	font-size: 22px;
	display: inline-block;
	padding-top: 13px;
	cursor: pointer;
}
.city_icon {
	display: inline-block;
	height: 30px;
	width: 30px;
	background:url(../images/icon.png) -284px -27px no-repeat;
	position: absolute;
	top: 20px;
	left:68px;
}

.phone_cont {
	text-align: right;
	position: relative;
}
.phone_icon {
	display: inline-block;
	height: 40px;
	width: 40px;
	background:url(../images/icon.png) -316px -1px no-repeat;
	position: absolute;
	top: 11px;
    right: 205px;
}
.phone_num {
	font-size: 30px;
	color: #d1161c;
	display: inline-block;
	line-height: 60px;
}
/* 标题区域结束 */

/* 导航链接开始 */
.company {
	line-height: 20px;
	padding-top:15px;
	padding-bottom:10px;
	padding-right:65px;
	padding-left:20px;
	background-color: #c7161c;
	color: #fff;
	font-size: 18px;
	position: relative;
}

.presen a {
	font-size: 18px;
    color: #666;
}
.presen a:hover {
	background-color: #c7161c !important;
	color:#fff;
}

/* 垂直导航区域 */
.com_ul {
	position: absolute;
	left: 0;
	top: 46px;
	z-index: 99;
}
.com_ul ul {
	color:#fff;
	width: 195px;
	list-style: none;
	padding-left: 0;
}
.com_ul ul li {
	height: 150px;
	background-color: #000;
	opacity: 0.8;
	padding-left: 20px;
	border-bottom:1px dashed #fff;
}
.com_ul ul li:hover {
	background-color: #fff;
	color: #c7161c;
}

.com_ul ul li:hover a {
	color: #c7161c;
}

.zhuce {
	padding-top: 48px;
	position: relative;
}
.zhuce_icon {
	position: absolute;
	top:38px;
	left: 0;
	display: inline-block;
	height: 40px;
	width:50px;
}
.zhuce_bg1 {
	background: url(../images/icon.png) -284px -104px no-repeat;
}
.zhuce_bg2 {
	background: url(../images/icon.png) -284px -145px no-repeat;
}
.zhuce_bg3 {
	background: url(../images/icon.png) -284px -184px no-repeat;
}
.zhuce_bg4 {
	background: url(../images/icon.png) -284px -225px no-repeat;
}
.zhuce a {
	padding-left: 40px;
	color: #fff;
	font-size: 20px;
}
.zhuce a:hover {
	text-decoration: none;
}

.zhuce_db {
	padding-top: 15px;
}

.zhuce_db a {
	color: #fff;
	font-size: 14px;
}

.zhuce_db a:hover {
	text-decoration: none;
}

/* 轮播图区域 */
.banner {
	border-top: 2px solid red;
	height: 600px;
}
.carousel-inner .item img {
	height: 600px;
}

/* 咨询区域 */
#main_im {
	position: fixed;
    right: 10px;
    top: 205px;
    z-index: 120;
    width: 110px;
    height: 310px;
    background-color: #f9fafb;
    border-radius: 10px;
}
.main_header {
	position: relative;
	z-index: 99;
    width: 109px;
    height: 118px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #dddddd;
    background: url(../images/qq-icon-bg.png) no-repeat center 8px;
}
.close_qq {
	position: absolute;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: url(../images/close_im.png) no-repeat;
	right: 10px;
	top: -10px;
	z-index: 66;
	cursor: pointer;
}
.main_qqimg {
	width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    left: 20px;
    overflow: hidden;
    z-index: 9;
}
.main_qqimg img {
	transition: all 0.5s;
	transform: scale(0.8);
}

.main_qqimg img:hover{
	transform: scale(1) translateY(10px);
}

.qq_online {
	position: absolute;
    bottom: 4px;
    left: 16px;
}
.main_body {
	border-bottom: 1px solid #dddddd;
}

.body_rx {
	font-weight: bold;
    font-size: 12px;
    margin-top: 11px;
    text-align: center;
}
.body_num {
	font-family: Arial;
    font-weight: bold;
    color: #e66d15;
    font-weight: bold;
    font-size: 12px;
    margin-top: 11px;
    text-align: center;
}

.foot_wx {
	width:50%;
	height: 35px; 
	background: url(../images/weixing-icon.png) center no-repeat;
}
.foot_top {
	width: 50%;
	border-left:1px solid #ddd;
}
.foot_top a {
	display: inline-block;
	width:100%;
	height: 35px; 
	background: url(../images/toTop-icon.png) center no-repeat;
}


/* 红色数字区域 */
.bgred {
	background-color: #c7161c;
}

.rednumber {
	width: 1000px;
	margin: 0 auto;
}

.rednumber p {
	color:#fff;
}

.first_p {
	padding-top: 20px;
}

.span_lg {
	font-family: arial;
	font-size: 36px;
}

.span_deful {
	font-size: 18px;
}

.second_p {
	font-size: 22px;
	padding-bottom: 20px;
}

/* 标题区域 */

.title_bt {
	margin-top: 60px;
}

.title_bt h2 {
	font-weight: bold;
}

.title_solid {
	margin: 0 auto;
	width: 400px;
	height: 10px;
	border-top:1px dashed #c7161c;
	border-bottom:1px solid #c7161c;
	margin-bottom: 60px;
}

/* 套餐区域 */
.shop_cont {
	margin-bottom: 80px;
}
.shadow {
	height: 275px;
	box-shadow: 0 0 3px 3px #9e9e9e;
	overflow: hidden;
}

.icon_img {
	width: 100px;
	height: 100px;
	margin: 20px auto 0;
}

.img_a {
	background: url(../images/tcicon.png) 0px -2px no-repeat;
}
.img_b {
	background: url(../images/tcicon.png) 0px -120px no-repeat;
}
.img_c {
	background: url(../images/tcicon.png) 0px -240px no-repeat;
}
.img_d {
	background: url(../images/tcicon.png) 0px -360px no-repeat;
}

.gscyzc {
	font-size: 18px;
	text-align: center;
	margin-top:20px;
	margin-bottom: 0;
}

.gs_price {
	color: #999;
	text-align: center;
	margin-top:15px;
	margin-bottom: 0;
}

.tc_price {
	text-align: center;
	color: #c7161c;
	font-size: 18px;
	margin-bottom: 0;
	margin-top:30px;
}

.btn_show {
	margin-top: 50px;
	text-align: center;
}
/* 鼠标移入变化效果区域 */
.shadow:hover .img_a {
	margin-top:10px;
}
.shadow:hover .gscyzc {
	margin-top:5px;
}

.shadow:hover .tc_price {
	margin-top:10px;
}
.shadow:hover .btn_show {
	margin-top:10px;
}
/* 过渡效果实现区域 */
.shadow .img_a {
	transition: all 0.5s;
}
.shadow .gscyzc {
	transition: all 0.5s;
}

.shadow .tc_price {
	transition: all 0.5s;
}
.shadow .btn_show {
	transition: all 0.5s;
}

/* 解决方案区域 */

.solve_case {
	background-color: #eee;
	padding-bottom: 80px;
} 

.case_box {
	width: 1000px;
	margin: 0 auto;
	height: 250px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0 0 2px 2px #ddd;
	padding: 20px;
}
.case_box ul {
	list-style:none;
	padding-left: 0;
}
.case_box ul li {
	float: left;
	width: 20%;
	height: 105px;
	line-height: 105px;
	text-align: center;
	color: #666;
	font-size: 20px;
}

.more_libg {
	width: 40% !important;
}

.case_box ul li.libg {
	background-color: #eee;
}


/* 公司新闻区域 */
.new_cont {
	width: 1000px;
	margin:0 auto;
}
.company_new {
	padding: 10px 0;
	border-bottom: 1px solid #c7c5c5;
	margin-bottom: 10px;
}

.company_new span {
	font-size: 20px;
}
.company_new a {
	font-size: 12px;
	color: #9e9e9e;
	padding-top: 5px;
}
.dl-horizontal {
	border-bottom: 1px dashed #c7c5c5;
} 
.dl-horizontal dt {
	text-align: left;
	width: 100px;
	font-weight: 500;
}

.dl-horizontal .dt_p1 {
	font-size: 40px;
    color: #999;
    margin: 0;
}
.dl-horizontal .dt_p2 {
	font-size: 18px;
    color: #999;
}

.dl-horizontal dd {
	margin-left: 100px;
	width: 390px;
}

.dl-horizontal dd a {
	display: inline-block;
	width: 390px;
	font-size: 18px;
	color: #666;
	overflow: hidden;   /* 超出隐藏 */ 
	text-overflow: ellipsis;  /* 溢出部分添加省略号 */
	white-space: nowrap;  
}

.dl-horizontal dd a:hover {
	color: #c7161c;
	text-decoration: none;  
}

.dl-horizontal dd p {
	color: #999;
	font-size: 16px;
	line-height: 1.6;
	overflow : hidden;        /* 超出隐藏 */ 
	text-overflow: ellipsis;  /* 溢出部分添加省略号 */
	display: -webkit-box;     /* 一个伸缩盒子 */ 
	-webkit-line-clamp: 2;   /* 规定显示的行数 */
	-webkit-box-orient: vertical;   /* 子元素垂直向下排列 */
}
