body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
/*头部区域*/
.wrapper{
	min-height: 680px;
}
.header{
	height: 34px;
	background: #2aad6f;
	color: #fff;
	line-height: 34px;
	margin-bottom: 110px;
	min-width: 960px;
}
.w960{
	width: 960px;
	margin: 0 auto;
}
.menu-sec{
	float: left;
}
.menu-sec li{
	border-left:1px solid #57b488;
	display: block;
	float: left;
}
.menu-sec li a{
	cursor: pointer;
	padding: 8px 20px;
	color: #fff;
	list-style: none;
	font-family:Helvetica,;
}
.menu-sec li:hover a{
	text-decoration: none;
	background: #47b488;
	list-style: none;

}
/*主体区域*/
.register-area{
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	width: 958px;
	margin: -20px auto 0;
}
.register-title{
	color: #363636;
	font-size: 20px;
	text-align: center;
	height: 110px;
	line-height: 110px;
	border-bottom: 1px solid #e1e1e1;
}
.register_form{
	width: 320px;
	margin: 0 auto;
	padding-top: 90px;
	height: 484px;
}
/*文本框区域*/
.input_area{
	position: relative;
	margin-top: 15px;
}
.username{
	width:286px;  
	height: 40px;
	line-height: 40px;
	display: block;
	padding: 12px 16px;
	font-size: 16px;
	background: #fff;
	border: 2px solid #e2e2e2;
}
.vercode{
	width:155px;  
	height: 46px;
	line-height: 40px;
	display: block;
	padding: 12px 16px;
	font-size: 16px;
	background: #fff;
	border: 2px solid #e2e2e2;
}
.yzm{
	position: absolute;
	right: 0;
	top: 0;
	width: 154px;
	height: 46px;
	cursor: pointer;
}
/*勾选区域*/
.field{
	height: 25px;
	line-height: 15px;
	margin-top: 10px;
}
.f1{
	float: left;
	color: #878b8a;
	font-size: 12px;
}
.agree_link{
	color:#2aad6f ;
}
.login_button{
	margin-top:22px
}
/*注册按钮*/
.button{
	width: 285px;
	height: 46px;
	background-color:#2aad6f; 
	color: #fff;
}
/*尾部*/
.footer_info{
	color: #7b7b7b;
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	padding: 24px 0;
	position: relative;
}
